@font-face {
    font-family: 'Bebas Neue';
    src: url('./font/BebasNeueBold.woff2') format('woff2'),
    url('./font/BebasNeueBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html {
    background-color: #030202;

}

html, body {
    padding: 0;
    margin: 0;
    color: #d9d9d9;
}

ul, ol {
    padding: 0;
    margin: 0;
    list-style-position:  inside;

}


#app {
    /*color: #8b8b8b;*/
    color: #d3cece;
}

.data {
    color: #8b8b8b;
    position: fixed;
    right: 30px;
    bottom: 30px;
}

.data-list {
    background-color: #fff;
    /*padding: 10px;*/
    border-radius: 6px;
    color: #8b8b8b;
    font-size: 14px;
    padding: 10px;
    position: fixed;
    left: 18px;
    right: 18px;
    bottom: 18px;
    z-index: 999999999;
}

.data-code {
    position: fixed;
    right: 18px;
    z-index: 9999999999;
    bottom: 4px;
}

.data-code-card {
    color: #030202;
    border-radius: 10px;
    padding: 14px;
    margin-bottom: 14px;
    display: block;
    width: 300px;
    background-color: #8b8b8b;
}

.layout {
    max-width: 1020px;
    margin: 0 auto;
    padding: 0 24px;
}

.banner-top-layout .layout {
    /*max-width: 1320px;*/
}

.banner-top {
    padding: 58px 0 150px;
    position: relative;
    background: url(./img/banner-top.jpg) 50% 50% no-repeat;
}

.banner-top__message {
    background-color: #f0efef;
    padding: 12px;
    color: #333;
    font-size: 14px;
    border-radius: 10px;
    box-shadow: 0 10px 30px 0 rgba(0,0,0,0.2);
    text-align: center;
}

.banner-top__message span {
    font-size: 12px;
    padding: 6px 0;
    display: none;
}

.banner-top__logo-pic {
    display: block;
    width: 100%;
    height: auto;
}

.banner-top__logo {
    width: 100%;
    margin-bottom: 14px;
    font-family: 'Bebas Neue', sans-serif;
}


.banner-top__logo-text {
    display: none;
    width: 100%;
}

.banner-top__body {
    max-width: 29%;
    /*position: absolute;*/
    /*top: 60px;*/
    /*left: 140px;*/
}

.banner-top .c-btn-layout {
    opacity: 0;
}

.header-layout {
    position: relative;
    z-index: 50;
    background-color: #26252a;
}

.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    padding: 13px 0;
}

.header-logo {
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 30px;
    line-height: 24px;
    color: #d9d9d9;
    font-weight: 700;
    font-family: 'Bebas Neue', sans-serif;
    transition: all .2s ease-in-out;
}

.header-logo:hover {
    color: #d91127;
    transition: all .2s ease-in-out;
}

.header-menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    transition: all .3s ease;
}

.header-menu.is-show {
    right: 0;
    transition: all .3s ease;
}

.header-menu .c-btn {
    font-size: 20px;
    padding: 10px 15px;
}


.header-menu__link {
    display: inline-block;
    margin-left: 20px;
    color:#d9d9d9;
    text-decoration: none;
    transition: all .2s ease-in-out;
    white-space: nowrap;
}

.header-menu__link:hover {
    transition: all .2s ease-in-out;
    color: #fff;
}

.header-operation {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

.header-operation .c-btn {
    font-size: 20px;
    padding: 10px 15px;
    margin-left: 20px;
}

.header-hamburger {
    flex: 1 0 22px;
    width: 22px;
    height: 16px;
    position: relative;
    cursor: pointer;
    margin-left: 20px;
    display: none;
}

.header-hamburger span {
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: #9BA0B4;
    transition: all .2s ease;
}

.header-hamburger span::before {
    content: '';
    position: absolute;
    bottom: 8px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #9BA0B4;
}

.header-hamburger span::after {
    content: '';
    position: absolute;
    left: 0;
    top: 8px;
    width: 100%;
    height: 2px;
    background-color: #9BA0B4;
}

.header-hamburger.active span {
    background-color: transparent;
    transition: all .2s ease;
}

.header-hamburger.active span::before {
    transform: rotate(-45deg);
    top: 0;
    transition: all .2s ease;
}

.header-hamburger.active span::after {
    top: 0;
    transform: rotate(45deg);
    transition: all .2s ease;
}


.c-btn-layout--center {
    text-align: center;
}

.c-btn-layout--left {
    text-align: left;
}

.c-btn-layout--right {
    text-align: right;
}

.c-btn {
    font-family: 'Bebas Neue', sans-serif;
    display: block;
    width: 100%;
    background:#9c0e03;
    color: #e4e5e2;
    border-radius: 4px;
    font-size: 26px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 16px 20px;
    text-align: center;
    text-decoration: none;
    transition: all .2s ease-in;
}

.c-btn-outline {
    background: transparent;
    border: 2px solid #fff;
    display: inline-block;
    width: auto;
    padding: 10px 30px;
    font-size: 22px;
}

.button-submit:hover,
.c-btn:hover {
    transition: all .2s ease-out;
    background-color: #d81c0d;
}
/* --------------------------------------- */
/* --------------------------------------- */
/* --------------------------------------- */
/* --------------------------------------- */

.regulation {
    padding: 90px 0;
    background-color: #303438;
    overflow: hidden;
}

.regulation-title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 68px;
    line-height: 68px;
    margin-bottom: 6px;
}

.regulation-title span {
    font-family: 'Bebas Neue', sans-serif;

}

.regulation-subtitle {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    line-height: 40px;
}

.regulation-head {
    margin-bottom: 20px;
}

.regulation-grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.regulation-img {
    width: 50%;
    position: relative;
}

.regulation-img__phone {
    position: relative;
    z-index: 10;
    width: 100%;
    max-width: 440px;
}

.regulation-img__bg {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 30%;
    display: block;
    max-width: 893px;
    transform: translate(-50%,-50%)
}

.regulation-body {
    width: 50%;
    position: relative;
    z-index: 12;
}

.regulation-text {

}

.regulation-list {

}


.regulation-list ol {

}

.regulation-list li {
    margin-bottom: 10px;
    font-size: 15px;
}

.regulation-list__title {
    font-family: 'Bebas Neue', sans-serif;
    margin-bottom: 14px;
    font-size: 30px;
}

.regulation-important {
    border: 1px solid #8b8b8b;
    padding: 5px 15px;
    margin-bottom: 8px;
    border-radius: 4px;
}

.regulation-list a {
    color: #8b8b8b;
}


/* --------------------------------------- */
/* --------------------------------------- */
/* --------------------------------------- */
/* --------------------------------------- */


.logo {
    max-width: 200px;
    margin: 0 auto;
}

.logo img {
    width: 100%;
    height: auto;
}

.order {
    padding: 20px 0;
    max-width: 410px;
    margin: 0 auto;
}

.order-header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

.order-body {
}


.order-message {
    margin: 14px 0;
    color: #8b8b8b;
}

.order-message span {
    display: block;
    padding: 10px;
    border-radius: 6px;
    color: #000;
    background-color: #e4e5e2;
}

.section {
    padding: 40px 16px;
}

.section-title {
    font-family: Bebas Neue,sans-serif;
    color: #e4e5e2;
    /* text-transform: uppercase; */
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
    text-align: center;
    padding: 20px 0;
}

.input {
    width: 100%;
    height: 48px;
    border: none;
    outline: none;
    background-color: #2e2c2c;
    color: #e4e5e2;
    padding: 0 16px;
    font-size: 16px;
    border-radius: 4px;
    position: relative;
}
.input.no-success {
    border: 2px solid #9c0e03;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form__inputs {
    /* display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: stretch; */
}

.input-wrap {
    position: relative;
    margin-bottom: 16px;
}

.input-wrap:last-child {
    padding-right: 0;
}

.input:focus {
    border-color: #FF6900;
    outline: none;
}

.input__label {
    line-height: 1;
    font: inherit;
    padding: 0 4px;
    margin-bottom: 6px;
    display: block;
    user-select: none;
    color: #e4e5e2;
    transition: transform .25s;
    transform-origin: 0 0;
}

.input:focus+.input__label {
    transform: translate(-4px, -140%) scale(0.8);
    color: #e4e5e2;
    background:#030202;
}

.button-submit {
    font-family: 'Bebas Neue', sans-serif;
    display: block;
    width: 100%;
    /*height: 56px;*/
    background:#9c0e03;
    color: #e4e5e2;
    border-radius: 4px;
    font-size: 24px;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.2s ease-out;
    padding: 16px 20px;
    text-align: center;
    text-decoration: none;
}

.button-submit span {
    font-family: 'Bebas Neue', sans-serif;
}

.form__body {
    margin: 30px 0;
}

.login-block-public {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #8b8b8b;
    position: relative;
    padding-left: 22px;
}

.login-block-public,
.login-block-public a {
    color: #8b8b8b;
}

.login-block-public:before {
    content: '';
    border-right: 2px solid #e3e134;
    border-bottom: 2px solid #e3e134;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    display: inline-block;
    position: absolute;
    z-index: 1;
    width: 5px;
    height: 11px;
    left: 4px;
    top: 1px;
}

/*************************************/
/*************************************/
/*************************************/
.notFound {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.notFound-text {
    font-size: 24px;
    line-height: 1.2;
    color: #8b8b8b;
    margin-bottom: 20px;
    font-family: 'Bebas Neue', sans-serif;
}
.notFound .c-btn {
    color: #8b8b8b;
    border-color: #8b8b8b;
}
/*************************************/
/*************************************/
/*************************************/

.success {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    max-width: 410px;
    margin: 0 auto;
    padding: 0 16px;
}

.success.is-show {
    transition: all .5s ease-in-out;
}

.success-icon {
    width: 160px;
    height: 160px;
    border-radius: 160px;
    background-color: #2fc158;
    margin-bottom: 40px;
    position: relative;
    transform: scale(1);
    animation: checkmark .3s ease-in-out;
    /*transition: all 1s .4s ease-in-out;*/
}

/*.success.is-show .success-icon {*/
    /*transform: scale(1);*/
    /*transition: all .5s .4s ease-in-out;*/
/*}*/

.success-icon::after {
    opacity: 1;
    height: 4em;
    width: 1.9em;
    transform-origin: left top;
    border-right: 10px solid #fff;
    border-top: 10px solid #fff;
    content: "";
    left: 45px;
    top: 50%;
    position: absolute;
    transform: scaleX(-1) rotate(135deg);
}

.success-body {
    /*animation: checkmark .3s ease-in-out;*/
}

/*.success.is-show .success-body {*/

    /*opacity: 1;*/
    /*transition: all 1s .4s ease-in-out;*/
/*}*/

.success-text {
    padding: 0 13%;
    font-size: 16px;
    line-height: 1.4;
    color: #8b8b8b;
    text-align: center;
    margin-bottom: 20px;
}

.success .c-btn {
    color: #8b8b8b;
    border-color: #8b8b8b;
}

.success .c-btn:hover {
    background-color: #2fc158;
    border-color: #2fc158;
    color: #fff;
}

@keyframes checkmark {
    0% {
       transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

/*************************************/
/*************************************/
/*************************************/

.password-repeat {
    color: #8b8b8b;
    text-align: center;
    display: block;
    font-size: 14px;
    margin-top: 10px;
}

.password-head {
    margin-bottom: 20px;
}

/*************************************/
/*************************************/
/*************************************/



.error {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    max-width: 410px;
    margin: 0 auto;
    padding: 0 16px;
}

.error-text {
    font-size: 15px;
    line-height: 1.3;
    color: #8b8b8b;
    text-align: center;
    margin-bottom: 20px;
}
.error-text a {
    color: #8b8b8b;
}


.error .c-btn {
    color: #8b8b8b;
    border-color: #8b8b8b;
}

.error .c-btn:hover {
    background-color: #8b8b8b;
    color: #000;
}



/*************************************/
/*************************************/
/*************************************/

.story {
    padding: 0 0 40px;

}

.story-slider {

}

.story-slider__item {

}

.story-card {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: stretch;
    background-color: #303438;
}

.story-card__img {
    width: 35%;
    height: auto;
    background-color: #ccc;
    overflow: hidden;
    object-fit: cover;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.story-card__img img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
}

.story-card__wrapper {
    /*height: 280px;*/
    width: 100%;
    height: 336px;
}

.story-card .ss-container {
    padding-right: 10px;
}

.story-card__body {
    width: 70%;
    padding: 28px 30px;
}

.story-card__title {
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 20px;
    padding-right: 30px;
}

.story-card__text {
    padding-right: 30px;
    /*height: 100%;*/
    /*padding-right: 20px;*/
}

.story-operation {
    padding-top: 8px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}

.story-pagination {
    margin: 0 10px;
    width: 200px;
    border-radius: 4px;
    padding: 11px 14px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    background-color: #303438;
    flex: 0 1 70%;
}

.story-pagination__text {
    display: inline-block;
    margin-right: 10px;
}

.story-pagination .swiper-pagination {
    width: auto;
    padding: 0 !important;
}



/*************************************/
/*************************************/
/*************************************/


.footer {
    padding: 20px 0;

}

.footer-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

.footer .copyright {
    font-size: 15px;
}

.c-link {
    color: #d3cece;
    font-size: 15px;
    text-decoration: none;
    transition: all .2s ease;
}

.c-link:hover {
    color: #d81c0d;
}

/*************************************/
/*************************************/
/*************************************/

.person {
    margin-bottom: 30px;
}

.person-list {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
}

.person-list__item {
    width: 25%;
    padding: 10px;
}

.person-card {
    position: relative;
    background-color: #fff;
    overflow: hidden;
    cursor: pointer;
    transition: all .3s ease;
}

.person-card__img {

}

.person-card__img img {
    width: 100%;
    height: auto;
    display: block;
}

.person-card__label {
    white-space: nowrap;
    position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translateX(-50%);
    color: #000;
    background-color: #fff;
    padding: 2px 14px;
    border-radius: 4px;
    font-size: 15px;
}

.person-card__body {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #000;
    transition: all .3s ease;
    border: 8px solid #fff;
    padding: 10px 14px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.person-card__text {
    font-size: 14px;
    text-align: center;
}

.person-card:hover .person-card__label {
    z-index: 999;
}

.person-card:hover  {
    transform: scale(1.02);
    transition: all .3s ease;
}


.person-card:hover .person-card__body {
    opacity: 1;
    visibility: visible;
}

/*************************************/
/*************************************/
/*************************************/

.swiper-container {
    /*width: 600px;*/
    /*height: 300px;*/
}

.swiper-container .swiper-pagination-bullet {
    width: 50px;
    height: 18px;
    text-align: center;
    line-height: 18px;
    border-radius: 4px;
    font-size: 12px;
    color: #d3cece;
    opacity: 1;
    background: #303438;
}


.swiper-container .swiper-pagination-bullet-active {
    color: #d9d9d9;
    background: #9c0e03;
}

.swiper-container .swiper-pagination {
    position: relative;
    top: 0;
    bottom: 0;
    padding: 14px 0;
}

.swiper-container .swiper-button-next,
.swiper-container .swiper-button-prev {
    position: static;
    background-color: #303438;
    border-radius: 4px;
    margin: 0;
    width: 50px;
    flex: 0 1 15%;
}

.swiper-container .swiper-button-next:after,
.swiper-container .swiper-button-prev:after {
    color: #d9d9d9;
    font-size: 20px;
}

.ss-scroll {
    background-color: #000;
    opacity: 0.8;
}

/*************************************/
/*************************************/
/*************************************/


@media (min-width: 580px) {
    .banner-top {
        -webkit-background-size: cover;
        background-size: cover;
    }
}

@media (max-width: 1300px) {


    .regulation-title {
        font-size: 58px;
        line-height: 58px;
    }

    .regulation-img {
        width: 40%;
    }

    .regulation-body {
        width: 60%;
    }

    .regulation {
        padding: 60px 0;
    }
}

@media (max-width: 1000px) {
    .header-menu__link {
        margin-left: 20px;
    }

    .person-list__item {
        width: 33%;
    }

    .header-hamburger {
        display: block;
    }

    .header-menu {
        background-color: #000;
        position: fixed;
        top: 0;
        right: -200px;
        padding: 40px;
        width: 200px;
        display: block;
    }

    .header-menu__link {
        margin: 0;
        padding: 14px 0;
        width: 100%;
        display: block;
        text-align: center;
        white-space: normal;
    }

    .story-card {
        display: block;
    }

    .story-card__img {
        width: 100%;
        height: 400px;
        align-items: flex-start;
    }

    .story-card__body {
        width: 100%;
    }



    .story-pagination {
        width: 100%;
    }

    .swiper-container .swiper-button-next,
    .swiper-container .swiper-button-prev {
        flex: 1 0 50px;
    }
}

@media (max-width: 900px) {

}

@media (max-width: 770px) {

    .banner-top__body {
        /*display: none;*/
    }

    .regulation {
        padding: 50px 0;
    }

    .header-menu {
        /*display: none;*/
    }

    .header-hamburger  {
        /*display: none;*/
    }

    .header-logo {
        font-size: 24px;
        line-height: 20px;
    }


    .header {
        padding: 11px 0;
    }

    .layout {
        padding: 0 14px;
    }

    .regulation-grid {
        display: block;
    }

    .regulation-img__phone {
        max-width: 340px;
        display: block;
        margin: 0 auto;
    }

    .regulation-img__bg {
        left: 37%;
        max-width: 760px;
    }

    .regulation-img,
    .regulation-body {
        width: 100%;
    }

    .person-list__item {
        width: 50%;
    }

    .story-card__title {
        font-size: 26px;
    }

    .story-card__body {
        padding: 16px;
    }


}

@media (max-width: 580px) {
    .regulation-title span {
        display: block;
        font-family: 'Bebas Neue', sans-serif;
        font-size: 1.5em;
        line-height: .7;
    }

    .regulation-title {
        font-size: 58px;
        line-height: 58px;
        margin-bottom: 12px;
    }

    .regulation-subtitle {
        font-size: 35px;
        line-height: 35px;
    }

    .banner-top {
        height: 538px;
    }

    .banner-top-layout .layout {
        padding: 0;
    }


    .banner-top__body {
        width: 96%;
        max-width: 100%;
        padding: 12px 16px;
    }

    .banner-top__logo-pic {
        display: none !important;
    }

    .section-title {
        font-family: Bebas Neue,sans-serif;
        font-size: 35px;
        line-height: 35px;
    }

    .c-btn-outline {
        padding: 10px 20px;
        font-size: 22px;
    }

    .footer-grid {
        text-align: center;
        justify-content: center;
    }

    .footer-col {
        margin-bottom: 10px;
    }


    .header .c-btn {
        display: none;
    }

    .person-card__label {
        font-size: 14px;
        border-radius: 0;
        bottom: 4px;
        width: 100%;
        text-align: center;
    }

    .person-card__body {
        border-width: 6px;
    }

    .person-list__item {
        padding: 4px;
    }

    .story-card__img {
        height: 210px;
        align-items: flex-start;
    }

    .story-card__wrapper {
        height: 270px;
    }

    .story-card__title {
        margin-bottom: 10px;
    }

    .story-card__text {
        font-size: 15px;
    }
}

@media (max-width: 340px) {
    .regulation-title span {
        display: block;
        font-family: 'Bebas Neue', sans-serif;
        font-size: 1.3em;
        line-height: .7;
    }
    .banner-top {
        background-position: 50% 100%;
    }

    .person-card__label {
        padding: 2px 0px;
        font-size: 12px;
    }

    .person-card__body {
        padding: 6px;
    }

    .person-card__text {
        font-size: 12px;
    }

    .story-card__img {
        height: 170px;
    }

    .story-card__wrapper {
        height: 225px;
    }
}

@media (max-width: 300px) {
    .c-btn {
        font-size: 24px;
    }

}


/*-------------------*/


@media (max-height: 850px) and (max-width: 580px) {

    .banner-top .c-btn-layout {
        position: absolute;
        opacity: 1;
        z-index: 20;
        left: 18px;
        right: 18px;
        /*bottom: 20px;*/
    }

}
@media (max-height: 850px) and (max-width: 790px) {

    .banner-top {
        padding: 0;
        margin-top: -42px;
        padding-top: 42px;
        height: 100vh;
        background-color: #030202;
        background-position: 61% 100%;
    }

    .banner-top__logo-text {
        display: block;
        margin-top: 30px;
    }



}


@media (max-height: 780px) and (max-width: 790px) {
    .banner-top__logo-text {
        margin-top: 0;
    }
}

@media (max-height: 670px) and (max-width: 790px) {


    .banner-top__logo-text {
        width: 90% !important;
    }

}

@media (max-height: 570px) and (max-width: 790px){

    .banner-top {
    }
    .banner-top__logo-text {
        width: 100%;
        display: none !important;
    }


}