//@font-face {
//    font-family: 'Bebas Neue';
//    src: url('../font/BebasNeueBold.woff2') format('woff2'),
//    url('../font/BebasNeueBold.woff') format('woff');
//    font-weight: bold;
//    font-style: normal;
//    font-display: swap;
//}


.banner-top {
    padding: 58px 0 150px;
    height: 500px;
    width: 100%;
    position: relative;
    background: url(./img/banner-top.jpg) 50% 50% no-repeat;
}